    /**
    * @name Sakurazuki V2
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy sakurazuki_v2 theme.
    * @source https://github.com/imbypass/base16-discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #14111a;
        --color01: #14111a;
        --color02: #14111a;
        --color03: #e7dfe9;
        --color04: #d8d0dc;
        --color05: #d8d0dc;
        --color06: #d8d0dc;
        --color07: #d8d0dc;
        --color08: #d8d0dc;
        --color09: #9a84a2;
        --color10: #9a84a2;
        --color11: #6f7b8f;
        --color12: #7e95c1;
        --color13: #a87692;
        --color14: #947598;
        --color15: #bea2c7;
    }
